/* src/styles/Dashboard.css */
.dashboard {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    margin-top: 60px; /* Space for the navbar */
    margin-left:5%;
}

.dashboard__content {
    flex-grow: 1;
    padding: 2px;
    background-color: #FBFFF5;
    margin-left: 250px; /* Adjust if sidebar is closed */
    transition: margin-left 0.3s;
}

.sidebar.open + .dashboard__content {
    margin-left: 150px;
}

.sidebar + .dashboard__content {
    margin-left: 0;
}
